   
 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/addPlant" method="POST">
        <h2>Add A Plant</h2>
        <input type="text" placeholder="Plant Name" name="plantName">
        <input type="text" placeholder="Plant Arabic Name" name="plantArabicName">
        <input type="text" placeholder="Family Name" name="familyName">
        <input type="text" placeholder="Scientific Name" name="scientificName">
        <input type="text" placeholder="Main Ingredient" name="mainIngredient">
        <input type="text" placeholder="area" name="area">
        <input type="text" placeholder="Biological Activity/ies" name="biologicalActivity">
        <input type="file" name="Image" id="">

        <input type="submit" value="add plant">
    </form>


    <form action="/adminSignUp" method="POST">
        <h1>Admin Login</h1>

        <input type="text" placeholder="Name" name="adminName" id="adminName">
        <input type="email" placeholder="Email" name="adminEmail" id="adminEmail">
        <input type="password" placeholder="password" name="password" id="adminPassword">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <input type="submit" value="add plant">
    </form>


    <ul class="plants">
        <h1>Medicinal plants </h1>
        <span class="DataCounter">number of plants in the database: <%= plants.length %></span>

    <% for(let i=0; i < plants.length; i++) {%>
        <li class="plant">
            <span><%= plants[i].plantName %> <span><%= plants[i].plantArabicName %></span>
            <ul>  
            <li>
                <%= plants[i].scientificName %>  
            </li>
            <li>
                <%= plants[i].familyName %>  
            </li>
          
            <li>
                <%= plants[i].mainIngredient %>  
            </li>
            <li>
                <%= plants[i].areaOfPlant %>  
            </li>
            <li>
                <%= plants[i].biologicalActivity %>  
            </li>
        </ul>
         
        
        </span>
            
        <span class='fa fa-trash'></span>
        <i class="fa-solid fa-star"></i>

        </li>
    <% } %>
    </ul>
    



    <script src='js/main.js'></script>
</body>
</html>
</html>