<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<header>
   <h1 class="logo">PlaMed <i class="fa-brands fa-pagelines"></i></h1>
    <section class="searchBar">
        <input type="text">
        <input type="submit" value="search">
    </section>
   
</header>

<main>
  
    
    <h1 class="subtitle">Medicinal plants </h1>

    <section class="plants">

    <% for(let i=0; i < info.length; i++) {%>
        <section class="plant-card">
            <h2 class="plantName"><%= info[i].plantName %></h2>
             <span><%= info[i].plantArabicName %></span>
          <section class="card-info">
            <span>
                <%= info[i].scientificName %>  
            </span>

            <span>
                <%= info[i].familyName %>  
            </span>
          
            <span>
                <%= info[i].mainIngredient %>  
            </span>
            <span>
                <%= info[i].areaOfPlant %>  
            </span>
            <span>
                <%= info[i].biologicalActivity %>  
            </span>
        
          </section>

          <section class="moreSection">
            <button class="moreInfo">More
            </button>
          </section>
         
        

        </section>
    <% } %>
    </section>
    
  


    <footer>
        
    </footer>
  

    

    <script src='../public/js/main.js'></script>
</body>
</html>
</html>